@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3A3A3A;
    --button-color: #E02C6D;
    --card-discription: #787885;
}

.font-family {
    color: var(--primary-color);
    font-family: "Poppins", sans-serif;
}

.container {
    width: 83%;
    max-width: 1200px;
    /* border: 2px solid red; */
    margin: 5rem auto 0rem;
}

.navbar {
    /* border: 2px solid red; */
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.hero-logo h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2.125rem;
    list-style: none;
}

.navbar ul li a {
    font-weight: 600;
    color: var(--dark-color);
    text-decoration: none;
}

.hero-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    /* border: 2px solid red; */
}

.hero-content-txt {
    width: 50%;
    /* border: 2px solid black; */
    max-width: 584px;
}

.learge-header {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}

.hero-content-txt p {
    font-size: 1rem;
    color: var(--dark-color);
    font-weight: 600;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--button-color);
    padding: 10px 24px;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font: 1rem;
    cursor: pointer;
}

.hero-img img {
    /* border: 2px solid black; */
    width: 100%;
    vertical-align: middle;
}

#sponsor {
    margin: 100px auto;
}

.sponsor-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.collection {
    /* border: 2px solid red; */
}

#collection-header {
    font-size: 1.75rem;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection-card {
    padding: 17px;
    /* border: 2px solid black; */
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.collection-card img {
    margin-bottom: 16px;
}

.collection-card h2 {
    font-size: 1.8rem;
    line-height: 28px;
    margin-bottom: 6px;
}

.collection-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.star {
    margin-bottom: 10px;
}

.star i {
    color: rgba(251, 130, 0, 1);
}

.card-discription {
    color: var(--card-discription);
    font-size: 14px;
    font-weight: bold;
}

.button-right {
    display: flex;
    justify-content: flex-end;
}

.button-right button {
    font-size: 16px;
    color: var(--button-color);
    font-weight: bold;
    background-color: white;
    border: none;
}

.last {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.last-section img {
    width: 100%;
}

.last-section-container h1 {
    font-size: 38px;
    font-weight: bold;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 16px;
}

.last-section-container p {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    color: var(--card-discription);
    width: 500px;
    margin-bottom: 16px;
}

.last-section-container button {
    border-radius: 5px;
}

footer {
    background-color: rgba(10, 8, 38, 1);
    text-align: center;
}

.footer-content{
    padding: 50px;
}

#footer-header {
    color: white;
    margin-bottom: 5px;
}

.footer-text{
    color: white;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 17px;
}

.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.social-icon .box{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.26);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box i {
    color: white;
}








@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        gap: 2rem;
    }

    .hero-content {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .hero-content-txt {
        width: 100%;
        text-align: center;
    }

    .navbar ul {
        gap: 10px;
    }

    .learge-header {
        font-size: 1.75rem;
        line-height: 2.8rem;
        margin-bottom: 1rem;
    }

    #sponsor {
        margin: 50px auto;
    }

    .sponsor-logo {
        gap: 15px;
        flex-wrap: wrap;
    }

    .card {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .button-right {
        justify-content: center;
    }

    .button-right button {
        background-color: var(--button-color);
        padding: 17px;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }

    .last {
        flex-direction: column-reverse;
    }

    .last-section-container {
        width: 100%;
    }

    .last-section-container p {
        width: 100%;
    }
}